<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "c" class="springLearning.CircularDependencies.setterInjection.ServiceC" scope="singleton">
        <property name="serviceD" ref="d"></property>
    </bean>

    <bean id = "d" class="springLearning.CircularDependencies.setterInjection.ServiceD" scope="singleton">
        <property name="serviceC" ref="c"></property>
    </bean>
</beans>
